body {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  overflow: visible;
}

/* MISC */

.particles-container {
  pointer-events: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.club-logo {
  width: 12%;
  height: auto;
}

/* MAP */

.map {
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  image-rendering: optimizeQuality;
  /* Mask effect */
  /* 0% is center */
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

.popup {
  /* transform: translateY(-300px); */
  background-color: #0a0b0bdd;
  padding: 0px;
}

.popup-content {
  color: #e5e7e1;
  font-size: 1em;
  /* line-height: 1em; */
  text-align: center;
  margin: 8px;
  margin-top: 0;
  padding: 0px;
  /* transform: translateY(-300px); */
}

.maplibregl-popup {
  flex-direction: column;
  /* Stack elements vertically */
  justify-content: flex-start;
  align-items: center;
  background-color: #0a0b0bdd;
  border: solid #e5e7e1 1px;
  max-width: 200px;
  min-height: 30px;
  border-radius: 8px;
  padding: 0px;
  line-height: 1em;
}

.maplibregl-popup-content {
  background: transparent;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
}

.maplibregl-popup-tip {
  visibility: hidden;
}

.maplibregl-popup-close-button {
  visibility: hidden;
}

.map-img {
  transform: scale(80%);
}

/* MAP NAV */

.city-names-wrapper {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: radial-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

.court-container {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: solid 1px #e5e7e1;
  border-radius: 12px;
  height: auto;
}

/* .court-name {
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1em;
  margin-top: 2px;
  margin-bottom: 0px;
} */

/*DARK MODE*/

/* Backgrounds */

body,
.scene-overlay {
  background-color: #0a0b0b;
  transition: background-color 0.8s ease;
}

.nav-container {
  /* background-color: #0a0b0b88; */
  backdrop-filter: blur(15px);
  transition: background-color 0.8s ease;
}

/* Text */
.is--button-text,
.is--button-text-hidden {
  color: #0a0b0b;
  transition: background-color 0.8s ease;
}

.h1 {
  color: #e5e7e1;
  transition: background-color 0.8s ease;
}

.claim-heading {
  color: #e5e7e1;
  /* transition: background-color 0.8s ease; */
}

.span--bold {
  color: #ceff05;
  transition: background-color 0.8s ease;
}

.card-p {
  opacity: 0;
}

/*LIGHT MODE*/

#bg-mouse {
  /* border: 1px solid blue; */
  width: 300px;
  height: 300px;
}

/* STEPS Crear Partido */

#step-1 {
  transform: translateY(240%);
}
#step-2 {
  transform: translateY(260%);
}
#step-3 {
  transform: translateY(56%);
}
#step-4 {
  transform: translateY(-110%);
}
#step-5 {
  transform: translateY(190%);
}
#step-6 {
  transform: translateY(0%);
}
#step-7 {
  transform: translateY(0%);
}
#step-8 {
  transform: translateY(0%);
}
#step-9 {
  transform: translateY(76%);
}
#step-10 {
  transform: translateY(76%);
}
#step-11 {
  transform: translateY(226%);
}
