body {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.particles-container {
  pointer-events: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.map {
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  image-rendering: optimizeQuality;
  /* Mask effect */
  /* 0% is center */
  -webkit-mask-image: radial-gradient(circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.0) 80%);
  mask-image: radial-gradient(circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.0) 80%);
}

.popup {
  /* transform: translateY(-300px); */
  background-color: #0a0b0bdd;
  padding: 0px;
}

.popup-content {
  color: #ceff05;
  font-size: 1.4em;
  /* line-height: 1em; */
  text-align: center;
  margin: 8px;
  margin-top: 0;
  padding: 0px;
  /* transform: translateY(-300px); */
}

.maplibregl-popup {
  flex-direction: column;
  /* Stack elements vertically */
  justify-content: flex-start;
  align-items: center;
  background-color: #0a0b0bdd;
  border: solid #ceff05 1px;
  max-width: 200px;
  min-height: 30px;
  border-radius: 8px;
  padding: 0px;
  line-height: 1em;
}

.maplibregl-popup-content {
  background: transparent;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
}

.maplibregl-popup-tip {
  visibility: hidden;
}

.maplibregl-popup-close-button {
  visibility: hidden;
}

.map-img {
  transform: scale(80%);
}

/*DARK MODE*/

/* Backgrounds */

body,
.scene-overlay {
  background-color: #0a0b0b;
  transition: background-color 0.8s ease;
}

.nav-container {
  background-color: #0a0b0b88;
  backdrop-filter: hue-rotate(20deg) blur(15px);
  transition: background-color 0.8s ease;
}

/* Text */
.is--button-text,
.is--button-text-hidden {
  color: #0a0b0b;
  transition: background-color 0.8s ease;
}

.h1 {
  color: #e5e7e1;
  transition: background-color 0.8s ease;
}

.claim-heading {
  color: #e5e7e1;
  transition: background-color 0.8s ease;
}

.span--bold {
  color: #ceff05;
  transition: background-color 0.8s ease;
}

.card-p {
  opacity: 0;
}

/*LIGHT MODE*/

/* Backgrounds */
body.light-mode {
  background-color: #e5e7e1;
  transition: background-color 0.8s ease;
}

body.light-mode .scene-overlay {
  background-color: #e5e7e1;
  transition: background-color 0.8s ease;
}

body.light-mode .nav-container {
  background-color: #e5e7e188;
  backdrop-filter: hue-rotate(180deg) blur(15px);
  transition: background-color 0.8s ease;
}

/* Text */
body.light-mode .is--button-text,
body.light-mode .is--button-text-hidden {
  color: #e5e7e1;
  transition: background-color 0.8s ease;
}

body.light-mode .h1,
body.light-mode .h4,
body.light-mode .claim-heading {
  color: #0a0b0b;
  transition: background-color 0.8s ease;
}

body.light-mode .span--bold {
  color: #8b81e4;
  transition: background-color 0.8s ease;
}

#bg-mouse {
  /* border: 1px solid blue; */
  width: 300px;
  height: 300px;
}